{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/new.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}Upload{% endblock %}

{% block body %}

    <div id="content">
<h1>Adding a new song</h1>
<hr>
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.uploadPath) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}

    </div>
{% endblock %}